%header
  %nav
    %ul
      %li
        %a.icon-home{:href => link_to("")}
          Accueil
      %li
        %a.icon-calendar{:href => link_to("archives")}
          Archives
      %li
        %a.icon-rss{:href => link_to("atom.xml")}
          Atom
      %li
        %a.icon-user{:href => link_to("about")}
          À propos