%footer
  %blockquote
    Powered by
    %em.icon-cogs
      %a(href="https://github.com/CrEv/web_log_today")
        Web Log Today
  .sn
    = render :partial => "twitter_account"
    = render :partial => "twitter_share_account"
    = render :partial => "gplus_share"
%img(src="http://www.winsos.net/statistics/piwik.php?idsite=5&amp;rec=1" style="border:0" alt="")