%header
  %nav
    %ul
      %li
        %a.icon-home{:href => link_to("")}
          Home
      %li
        %a.icon-book{:href => link_to("blog")}
          Blog
      %li
        %a.icon-user{:href => link_to("about")}
          About

  .hire-me
    %p
      looking for a talented web developer, Javascript (7 years experience), Java, Ruby? Luckily I'm available!
    %p
      For more informations, go to
      %a(href="http://log.winsos.net")
        my website
      (in french)