%h4
  Table of content
%ul
  %li
    %a{:href => link_to('doc')}
      Documentation
  %li
    %a{:href => link_to('doc-installation')}
      Installation
  %li
    %a{:href => link_to('doc-update')}
      Update
  %li
    %a{:href => link_to('doc-usage')}
      Usage
  %li
    %a{:href => link_to('doc-ruby')}
      Ruby
  %li
    %a{:href => link_to('doc-commands')}
      Commands
  %li
    %a{:href => link_to('doc-getting-started')}
      Getting started
      