!!! 5
%html(lang="en")
  %head
    = render :partial => "header"

  %body(class="blue")
    = render :partial => "body_header"

    %section.main
      %article
        = content

    = render :partial => "body_footer"
